<html>
  <body style="background-color:#232B2B">
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <div class="container" align="center" style="margin-top:30px">
      <h1 style="color: white; font-size:300%;">Wiki Scraping</h1>
      <form action="/details" method="post">
        <div class="form-group" style="margin-top:100px">
          <h4 style="color: white; font-size:200%;">Enter College URL</h4>
          <input type="text" class="form-control" name="url_to_search"/>
        </div>
        <input type="submit" class="btn btn-warning" value="Submit"/>
      </form>
    </div>
  </body>
</html>
